*{
    margin:0;
    padding:0;
}

#header {
    width: 100%;
    text-align: center;
}

.navbar{
    background-color: #0f9c4a;
    height: 150px;
}
.form-control{
    background-color: aliceblue;
}
.bton{
    background-color: blanchedalmond;
}